<style>

</style>

<main class="main p-8 flex flex-col gap-4">
    <h1 class="text-2xl text-zinc-600 font-medium">Todo app</h1>

    <p-toolbar>
        <ng-template #start>
            <p-button icon="pi pi-plus" class="mr-2" text severity="secondary" (onClick)="addItemButton()" />
        </ng-template>
        <ng-template #center>
            <div class="flex gap-2 items-center">
                <p-iconfield iconPosition="left">
                    <p-inputicon styleClass="pi pi-search" />
                    <input type="text" pInputText placeholder="Search" />
                </p-iconfield>
                <!-- 
                    <p-button icon="pi pi-star" severity="secondary" />
                -->
                <p-togglebutton [(ngModel)]="favoritesOnly" [onLabel]="'Filtered'" [offLabel]="'Not filtered'" onIcon="pi pi-star-fill" offIcon="pi pi-star" styleClass="w-36" ariaLabel="bekakiltam" />
            </div>
        </ng-template>
        <ng-template #end>
            <p-button icon="pi pi-palette" severity="secondary" (click)="toggleInvert()" />
        </ng-template>
    </p-toolbar>

    <div class="rounded-md border-zinc-200 border-1 border overflow-hidden">
        <p-table [value]="list" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>State</th>
                    <th>Fav</th>
                    <th>Name</th>
                    <th>Modifiers</th>
                </tr>
            </ng-template>
            <ng-template #body let-row>
                <tr app-entry todo-item [todoItem]="row" (onDelete)="onItemDelete($event)" (onModify)="onItemListModify()"></tr>
            </ng-template>
        </p-table>
    </div>
</main>

<router-outlet />
