<style>

</style>

<main class="main p-8 flex flex-col gap-4">
    <p-toolbar>
        <ng-template #start>
            <p-button icon="pi pi-plus" class="mr-2" text severity="secondary" />
            <p-floatlabel variant="on">
                <input pInputText id="on_label" [(ngModel)]="newItemName" autocomplete="off" size="small"/>
                <label for="on_label">Name</label>
            </p-floatlabel>
        </ng-template>
        <ng-template #center>
            <div class="flex gap-2 items-center">
                <p-iconfield iconPosition="left">
                    <p-inputicon styleClass="pi pi-search" />
                    <input type="text" pInputText placeholder="Search" />
                </p-iconfield>
                <p-button icon="pi pi-star" severity="secondary" (click)="toggleInvert()" />
            </div>
        </ng-template>
        <ng-template #end>
            <p-button icon="pi pi-palette" severity="secondary" (click)="toggleInvert()" />
        </ng-template>
    </p-toolbar>

    <p-table [value]="list" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th>State</th>
            <th>Name</th>
            <th>Modifiers</th>
        </tr>
    </ng-template>
    <ng-template #body let-row>
        <tr app-entry todo-item [todoItem]="row" (onDelete)="onItemDelete($event)" (onModify)="onItemListModify()"></tr>
    </ng-template>
</p-table>
</main>

<router-outlet />
